<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564209506070-bqah19jo9ft5v9t8p892de3ecopkmcc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564209506070-bqah19jo9ft5v9t8p892de3ecopkmcc4</string>
	<key>API_KEY</key>
	<string>AIzaSyB_px9g490d5rkCTzDF8g5HK0ifJsc_YGU</string>
	<key>GCM_SENDER_ID</key>
	<string>564209506070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokFlutter</string>
	<key>PROJECT_ID</key>
	<string>tik-tok-flutter-31428</string>
	<key>STORAGE_BUCKET</key>
	<string>tik-tok-flutter-31428.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564209506070:ios:f78950cb528647740c6237</string>
</dict>
</plist>